@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* -- */
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
/* ----- */
.container{
  display: flex;
  flex: 1;
}

/* Removes list bullets */
li{
  list-style: none;
  color: black;
}

/* Removes link underlines */
a:link { 
  text-decoration: none; 
}
a:visited { 
  text-decoration: none; 
}
a:hover { 
  text-decoration: none; 
}
a:active { 
  text-decoration: none; 
}

/* Change link colors to black */
a{
  color: gray;
}

.header{
  display: flex;
  justify-content: space-between;
}
.header ul{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px;
  padding: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.buttons button{
margin: 4px;
padding: 12px; 
}

.footer{
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #eeeeee;
  width: 100%;
  justify-content: space-between;
}

.footer ul{
  display: flex;
  margin: 10px;
  padding: 10px;
  gap: 1rem;
}








